; create or overwrite ~/.gitconfig
; with the contents of this file

[user]
	name = Brandon Cook
	email = phylake@gmail.com
[core]
	whitespace = tabwidth=4
	editor = vim
	mergeoptions = --no-edit
[push]
	default = simple
	followTags = true
[commit]
	gpgSign = true
[fetch]
	prune = true
[log]
	; show heads, tags, and remotes
	decorate = full
[gc]
	; keep git clean
	auto = 100
[url "https://"]
	insteadOf = git://
[alias]
	s = status
	d = diff
	ds = diff --staged
	sl = stash list
	sp = stash pop
	sb = show-branch
	co = checkout
	ls-ignored = ls-files --others -i --exclude-standard

	; submodules
	sm = submodule
	sms = submodule status --recursive
	smu = submodule update --init --recursive

	; gitk-like history
	l = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
